@tailwind base;
@tailwind components;
@tailwind utilities;

/* Подключаем шрифты Dota-подобные */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Rajdhani:wght@400;700&display=swap');

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Rajdhani', sans-serif;
  margin: 0;
  overflow: hidden;
  background-color: #0f1012;
}
